<!-- Section styles are 'section' 'section alt' 'section color' 'section black' 'section gradient' with the following helper classes for bg images 'cover' 'tile' 'parallax' 'fullscreen' -->
<!-- Hero layout classes are 'no-image' 'image-tagline' 'image-center' 'image-left' 'image-right' -->
<section id="hero" class="jumbotron section image-tagline parallax black cover">
  <div class="container">
    <div class="logo-display">
      <img class="logo container img hidden-xs" alt="Logo" src="/img/logo-badge.png"></img>
      <img class="logo container img-responsive visible-xs img" alt="Logo" src="/img/logo-badge.png"></img>
      <h1 class="page-title" style="display:block;">Donation Site</h1>
    </div>
      <h2>Set up a 1-click donation page using Stripe checkout.</h2>
      <p>This site implements a 1-click Stripe payment so users can donate to any cause with ease whether they are registered with you or not.</p>
      {% include checkout-button.html %}
  </div>
</section>
